/* @font-face {
  font-family: "Zeyada-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Zeyada-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Allura-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Allura-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jeongnimsaji-R";
  font-weight: normal;
  src: url("./assets/fonts/Jeongnimsaji-R.ttf") format("truetype");
}
@font-face {
  font-family: "강원교육현옥샘";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/강원교육현옥샘.ttf") format("truetype");
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'Handletter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display'); */
@font-face {
  font-family: "Petit-Formal-Script";
  font-weight: normal;
  src: url("./assets/fonts/PetitFormalScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GowunDodum";
  font-weight: normal;
  src: url("./assets/fonts/GowunDodum-Regular.ttf") format("truetype");
}
.App {
  text-align: center;
  flex-direction: column;
  /* min-width: 100%; */
font-family: "GowunDodum";
 }

.navbar-container {
  margin-top: calc(800px - 53px);
  width: 100%;

}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 1000ms ease-in-out 10s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

 .lang  button{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: none;
  background-color: transparent !important;
}


.fixed {
  position: fixed;
  top: 0;
  z-index: 20;
}
.navbar {
  z-index: 9999;
  background-color: #ffffff;
  justify-content: center;
  /* min-height: 100vh; */
  display: flex;
  font-size: 2vw;
  font-weight: 150;
  scroll-behavior: smooth;
  cursor: pointer;
}

.main {
 width: 100%;
 /* position: absolute; */
}

.border {
  /* border: 1px solid #f5f5f5; */
  height: 650px;
 background-color: black;
  /* background-size: contain; */
  background-size: contain;
  background-repeat: no-repeat;
}

.border p{
   /* font-family: "Jeongnimsaji-R"; */
   color: rgb(0, 0, 0);
   /* position: absolute; */
}

.padding-50 {
  padding-top: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* display: flex; */
  /* border: 1px solid #e7e7e7; */
  /* background-color: #ffffff; */
}

li {
  float: left;
}

li  {
  display: block;
  color: #666;
  text-align: center;
  padding: 4px 3vw;
  text-decoration: none;
}

li :hover:not(.active) {
  /* background-color: #ddd; */
  color: #666;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}

li .active {
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}

a:visited {
 text-decoration: white;
 text-decoration-line: none;
 color: #666;
 text-emphasis-color: #666;
}

.cards {
  display: 'flex';
   justify-content: center;
  align-items: center
;}
.card {
  margin: auto;
 ;}

 .invitation {
  font-size: 11px;
  align-items: center;
  font-family: 'Petit-Formal-Script';
  color: white;
}

.thedate {
  font-size: 50px;
  align-items: center;
  /*  font-family: 'Srisakdi', cursive;*/
  font-family: 'Petit-Formal-Script';
  margin-top: 30px;
  color: white;
}


.side {

 flex-direction: row;
  display: flex;
  margin-left: auto;
  margin-right: auto;
    justify-content: center;
   align-items: center;
   /* font-family: "Jeongnimsaji-R"; */
  }


 .babysbreath img {
  max-width: 100px;
  width: 50px;
}

.intro {
  display: block;
  /* background-color: #F5F6F3; */
  background-color: #d4e8f0;
  padding: 30px 35px ;
  margin: 35px

}

.intro p {
  /* font-family: 'Jeongnimsaji-R'; */
  /* font-stretch: 5; */
  text-size-adjust: auto;
  padding: 10px 5px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  color: rgb(32, 32, 32);
  font-size: 12px;
}
.Dday {
  font-weight: 800;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-style: bold;
  font-family: "monospace" !important;
  opacity: 0.9;
   /* padding: 30px; */
}
/*
.Dday span{
    font-size: 20px;
  color: #666;
   opacity: 1;
    font-family: "GowonDodum"  !important;
} */

 .white{
  color: white !important;
   }

 .middle_img {
  max-height: 100%;
  /* background-size: cover;*/
   background-repeat: no-repeat;
   background-size: cover;
  /* margin: 20px; */
  /* object-fit: contain; */
 }

.banner p {
   /* font-family: cursive, fantasy;
  font-style: italic; */
  font-family: "Petit-Formal-Script";
  font-size: 21px;
  padding-top: 50px;

}
.decor img{
  width: 50px;
 }

.pink{
   display: flex;
    align-items: center;
   justify-content: center;

 }
  #pink-row {
    flex-direction: row;
  }

  .bluecalendar {
    background-repeat: no-repeat;
    background-size: cover;
  }
.gallery {
  background-color: #ffffff;
  /* background-color: black; */
  z-index: 0;
  padding:  0px 30px ;
   font-family: 'Handletter';
  font-size: 40px;
  flex-direction: row;
}

.gallery img{
  flex-direction: row;
  max-height: 900px;
}

.ontop {
  z-index: 100;
}
.nodecor {
  text-decoration-line: none;
}
  /*************************
   Center slide text vertically
   **************************/
.swiper {
  z-index: 0;
  width: 80%;
  max-height: 100%;
  padding: 15px;
   margin: 10px ;
     /* background: rgb(255, 255, 255); */
   /* margin: 15vw; */
  /* padding-bottom: 10vw; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: scale-down;

}
.swiper {
  /* width: 100%;
  height: 300px; */
  margin-left: auto;
  margin-right: auto;

}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  /* height: 20%; */
  box-sizing: border-box;
  padding: 10px 0;
  margin: 5px;

}

.mySwiper .thumb img {
  width: 100%;
  max-height: 50px;
 /* max-height: 40px; */
 margin-bottom: 30px;

}

.mySwiper .swiper-wrapper {
   align-self: center;
  height: 60px;
          /* background: rgb(168, 30, 30); */
  /* ; */
}

.mySwiper .swiper-slide {
   /* height: 100%; */
  opacity: 0.3;
}

 .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  border-radius: 2px;
  /* object-fit: scale-down; */

}

.story {
  /* font-family: "Jeongnimsaji-R"; */
  color: #666;
  margin: 50px;
  font-size: 12px;
}

.readmore {
  background-color: transparent;
  /* border-radius: 4px; */
  padding: 3px;
  border: 3px gray;
  font-family: "Jeongnimsaji-R";
  color: #666;
  margin: 3px;
  /* display: inline; */
  font-size: 9px;
}

.readmore :visited{
text-decoration-line: none;
}


.keep {
    word-break: keep-all;
    word-wrap: normal;
}

.account {
  display: block;
  /*background-color: #ecf1e3;*/
  background-color: #d4e8f0;
  padding: 40px 0 ;
  text-align: center;

}
.MuiAccordionSummary-content {
  justify-content: center;
/* margin-left: -20px; */
 }
.acc {
  max-width: 300px;
  margin: auto;
}

.accdetail {
  background-color: white;
  border-radius: 4px;
  font-size: 15px;
  /* font-family: "Jeongnimsaji-R"; */
  color: #666;
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
 }

 .acctext {
  background-color: white;
  border-radius: 4px;
  /* font-family: "Jeongnimsaji-R"; */
  color: #666;
  margin: 10px;
   float: center;
  flex-direction: center;
  }

 .right{
   right: -20px;
 }

.acccopy {
  background-color: rgb(243, 189, 189);
  border-radius: 15px;
  /* font-family: "Jeongnimsaji-R"; */
  font-family: "GowunDodum";
  font-size: 9px;
  color: rgb(250, 250, 250);
  border: 0.4px gray;
  padding: 1px 8px;
  float: right;
  flex-direction: flex-end;
}

.verse {
  display: block;
  background-color: #ffffff;
  padding: 50px;

}
.verse p {
  /* font-family: 'Jeongnimsaji-R'; */
  font-stretch: 5;
  text-size-adjust: auto;
  letter-spacing: 1.5px;
  padding: 25px 35px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  color: rgb(93, 97, 93);
  font-size: 13px
}
.header {
 /* font-family: "Jeongnimsaji-R"; */
 font-size: 15px;
   margin: auto;

 }

 .padding-top {
padding-top: 50px;
 }
.divider {
  text-decoration: #666 underline dotted;
  color: #F5F6F3;
  opacity: 40;
  padding-bottom: 0px;
}
.calendar {
  width: 100%;
  padding: 5px;
}

.location {
  justify-content: center;
  align-items: center;
  background-color: #F5F6F3;
  padding: 40px;
 }



.location p{
   /* font-family: "Jeongnimsaji-R"; */
   font-size: 13px;
}

.buttons{
  /* flex-direction: row; */
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.copy {
   background-color: white;
  border-radius: 15px;
  padding: 0.5vw 2vw;
  border: 3px gray;
  /* font-family: "Jeongnimsaji-R"; */
  color: #666;
  margin: 10px;
  font-size: 13px;
}

.pinkcopy {
  background-color: #F0D0B8;
  border-radius: 25px;
  padding: 6px 26px;
  font-family: "GowunDodum";
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-size: 11px;
}

.copylink {
  background-color: #F0D0B8;
  border-radius: 25px;
  padding: 6px 26px;
  font-family: "GowunDodum";
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-size: 11px;
}

button {
  background-color: white;
  border-radius: 4px;
  padding: 2vw;
  border: 3px gray;
   color: #666;
  margin: 10px;
  font-size: 13px;
  font-family: "GowunDodum";

}


footer p {
  font-size: 2vw;
  color: gray;
}
