@font-face {
  font-family: "Zeyada-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Zeyada-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Allura-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Allura-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jeongnimsaji-R";
  font-weight: normal;
  src: url("./assets/fonts/Jeongnimsaji-R.ttf") format("truetype");
}
@font-face {
  font-family: "강원교육현옥샘";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/강원교육현옥샘.ttf") format("truetype");
}

@font-face {
    font-family: 'OG_Renaissance_Secret-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OG_Renaissance_Secret-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Story {
  text-align: center;
  flex-direction: column;
   font-family: "InkLipquid";
}


.body p {
    font-family: "InkLipquid";
  font-size: 2vw;
}

.side {
  font-size: 1.5vw;
}

.padding-10 {
    padding: 20px;
}
.half {
  flex-direction: row;
  width: 25vw;
  font-size: 1.5vw;
  padding: 7px;
}

.reg {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
     font-size: .5rem;
    line-height: 1.5;
    letter-spacing: 0.01em;

    /* flex: 1; */
    /* padding: 6px 10px; */
}

.half .sinai {
   color: rgb(252, 127, 235)
}
.half .youngrak {
   color: rgb(84, 168, 236)
}

select {
  display: block;
  color: #666;
  text-align: center;
  padding: 4px 3vw;
  text-decoration: none;
  font-size: 5px;
  width: min-content;
}

.image {
  width: 100px;
}

 .lang  button{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: none;
  background-color: transparent !important;
}